/*Light blue- #b2e1ff,#97d5fc Normal blue- #007fff Dark Blue:#003972*/
.header {
	background-image:url("http://i59.tinypic.com/w19xfk.jpg");
	background-repeat:no-repeat
}
body {
	background-image:url("http://i.imgur.com/rlbo1UK.png");
	background-repeat:no-repeat;
	background-position:center
}
.header .logo {
	opacity: 0;
}
/*li[id *= "champinnah"] button.userbutton.username:hover, li[id *= "frntierblade"] button.userbutton.username:hover, li[id *= "chmpionbart"] button.userbutton.username:hover, li[id *= "femalegallade"] button.userbutton.username:hover, li[id *= "onyxeagle"] button.userbutton.username:hover, li[id *= "artistejeratt"] button.userbutton.username:hover, li[id *= "coachabadon"] button.userbutton.username:hover, li[id *= "coachbloodfist"] button.userbutton.username:hover, li[id *= "neithcass"] button.userbutton.username:hover, li[id *= "bamdee"] button.userbutton.username:hover {
    background: rgb(252,183,63);
}*/

li#lobby-userlist-user-champinnah, li#lobby-userlist-user-frntierblade, li#lobby-userlist-user-chmpionbart, li#lobby-userlist-user-femalegallade, li#lobby-userlist-user-onyxeagle, li#lobby-userlist-user-artistejeratt, li#lobby-userlist-user-coachabadon, li#lobby-userlist-user-coachbloodfist, li#lobby-userlist-user-neithcass, li#lobby-userlist-user-bamdee, li#lobby-userlist-user-frontierheadrisu {
    background: url("http://i1171.photobucket.com/albums/r545/Brahak/adminteamthing_zpspbese1su.png");
}

.chat-log {
	font-size:8pt;
	font-family:Arial;
	background:url("http://i61.tinypic.com/2i0cj08.jpg") no-repeat scroll center;
	color:#000;
	overflow:auto
}
.sunnydayweather {
	background:#FEB url("//play.pokemonshowdown.com/fx/weather-sunnyday.jpg") no-repeat scroll left top;
	color:#641;
	text-shadow:1px 1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,-1px -1px 0 #fff
}
.rainweather,.raindanceweather {
	background:#9BF url("//play.pokemonshowdown.com/fx/weather-raindance.jpg") no-repeat scroll left top;
	color:#04B;
	text-shadow:1px 1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,-1px -1px 0 #fff
}
.sandstormweather {
	background:#E6E0AC url("//play.pokemonshowdown.com/fx/weather-sandstorm.png") no-repeat scroll left top;
	color:#543;
	text-shadow:1px 1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,-1px -1px 0 #fff
}
.hailweather {
	background:#ADE url("//play.pokemonshowdown.com/fx/weather-hail.png") no-repeat scroll left top;
	color:#145;
	text-shadow:1px 1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,-1px -1px 0 #fff
}
.acidrainweather,.contaminateweather {
	background:#a64ca6 url("http://i44.tinypic.com/2w71ziv.jpg") no-repeat scroll left top;
	color:#400040;
	text-shadow:1px 1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,-1px -1px 0 #fff
}
.pseudoweather {
	background:#DAE url("//play.pokemonshowdown.com/fx/weather-trickroom.png") no-repeat scroll left top;
	color:#615;
	text-shadow: 1px 1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,-1px -1px 0 #fff
}
.yellowboxed {
	background-color: #ABAB21 ;
}
